/*
 * Copyright 2008 Konrad Rudolph
 * All rights reserved.
 *
 * Colour scheme based on the Vibrant Ink scheme by Justin Palmer for the
 * TextMate text editor.
 * http://alternateidea.com/blog/articles/2006/1/3/textmate-vibrant-ink-theme-and-prototype-bundle
 */

.source-code {
    background: white;
    color: black;
}

.source-code .keyword { color: #585858;  font-weight: bold; }
.source-code .keyword.literal { color: #FC0; }
.source-code .keyword.type { color: #FF8F00; }
.source-code .keyword.builtin { color: #585858; }
.source-code .preprocessor { color: black; }
.source-code .comment { color: #0C808A; }
.source-code .comment .doc { color: #399; font-weight: bold; }
.source-code .identifier { color: black; }
.source-code .string, .source-code .char { color: black; }
.source-code .escaped { color: #AAA; }
.source-code .number, .source-code .tag { color: black }
.source-code .regex, .source-code .attribute { color: #CA0000; }
.source-code .operator { color: #888; }
.source-code .keyword.operator { color: #F60; }
.source-code .whitespace { background: #333; }
.source-code .error { border-bottom: 1px solid red; }

.source-code .tag .attribute { font-style: italic; }
.source-code.xml .preprocessor .keyword { color #996; }
.source-code.xml .preprocessor .keyword { color: #996; }
.source-code.xml .meta, .source-code.xml .meta .keyword { color: #399; }

.source-code.cpp .preprocessor .identifier { color: #996; }

.source-code::-moz-selection, .source-code span::-moz-selection {
    background: orange;
    color: black;
}

.source-code::selection, .source-code span::selection {
    background: black;
    color: black;
}
