<div class="span9">
	<div class="dashboard_box">
		<div class="dashboard_box_title"><h2><a href="/blibb?b={{id}}" >{{name}}</a></h2></div>
		<div class="dashboard_box_inner">
			<div class="row">
				<div class="span4">
					<div class="thumbnails">
		      			<a href="/blibb?b={{id}}" class="thumbnail span3">
			            	<img src="{{REST_API_URL}}/picture/{{img}}/260" alt="">
			        	</a>
		    		</div>
				</div>
				<div class="span4">
					<h3>{{description}}</h3>
					<div class="btn-group">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					    	<i class="icon-cogs"></i> Actions
					    	<span class="caret"></span>
					  	</a>
					  	<ul class="dropdown-menu">
					    	<li><a href="/addItem?b={{id}}"><i class="icon-pencil"></i> Add Item</a></li>
					    	<li><a href="/actions/deleteBlibb?id={{id}}"><i class="icon-trash"></i>Delete</a></li>
					    	<li><a href="/actions/fork?id={{id}}"><i class="icon-random"></i> Fork</a></li>
					    	<li><a href="#"><i class="icon-external-link"></i> Export</a></li>
					    	<li><a href="/bdetails?b={{id}}"><i class="icon-cog"></i> Settings</a></li>
					  	</ul>
					</div>
				</div>

			</div><!-- end row -->
		</div>
	</div>
</div><!-- end span9 -->
