<div class="span9">
	<div class="dashboard_box">
		<div class="dashboard_box_title"><h2>{{name}}</h2></div>
		<div class="dashboard_box_inner">
			<div class="row">
				<div class="span4">
					<div class="thumbnails">
		      			<a href="/blibb?b={{id}}" class="thumbnail span3">
			            	<img src="/actions/getImage?id={{img_id}}&i=260" alt="">
			        	</a>
		    		</div>
				</div>
				<div class="span4">
					<h3>{{description}}</h3>
				</div>
			</div><!-- end row --> 			
		</div>
	</div>
</div><!-- end span9 -->