<h3>Comments</h3>
<br>
{{#COMMENTS}}
	<div class="post-comment">
		<div class="thumbnail span1 pull-right"><img src="/actions/getImageProfile?u={{user}}" alt="{{user}}'s image"></div>
		<h3><a href="/profile?p={{user}}">{{user}}</a> <small>{{date}}</small></h3>
		{{comment}}
	</div>
{{/COMMENTS}}
<div>
	<h3>Write your comment</h3>
	<form action="addComment" method="post">
		<input type="hidden" name="k" value="{{key}}" />
		<input type="hidden" name="pid" value="{{id}}" />
		<input type="hidden" name="parent" value="i" />
		<input type="hidden" name="b" value="{{bid}}" />
		<textarea  class="span5" name="comment" rows="4"></textarea>
		<input type="submit" name="postComment" value="Send" class="btn btn-primary pull-right">
	</form>
</div>