#entry{
	border-bottom: 1px dotted #999;
}
#entry .ctrlName{
	float: right;
	margin-right: 30px;
}
#entry .ctrldesc{
	font-weight: bolder;
	font-size: 30px;
}
#entry .ctrlr{
	font-weight: bolder;
	font-size: 30px;
}
#entry .ctrlrs{
	font-weight: bolder;
	font-size: 30px;
}
#entry .ctrlw{
	font-weight: bolder;
	font-size: 30px;
}
#entry .ctrlws{
	font-weight: bolder;
	font-size: 30px;
}
